In [2]:
import pandas as pd

data = pd.read_csv("E:/waterloo_documents/Diversity in SE/project/new_pullreq.csv")

In [3]:
data.head()

,id,project_id,ownername,reponame,merged_or_not,lifetime_minutes,mergetime_minutes,num_commits,src_churn,test_churn,...,other_comment,num_comments_con,num_code_comments,num_code_comments_con,integrator_availability,friday_effect,contrib_rate_author,reopen_or_not,first_close_minutes,reopen_num
0,1,13708387,stylelint,stylelint,1,237,237.0,1,0,0,...,0,0,0,0,30.0,1,0.007948,0,237,0
1,2,100297899,Joaogarciadelima,checklistos,0,1410,NaN,1,0,0,...,0,2,0,0,597.0,0,0.830769,0,1410,0
2,3,93139005,binary-com,SmartCharts,1,4,4.0,1,0,0,...,0,0,0,0,2.0,0,0.314368,0,4,0
3,4,15059440,letsencrypt,boulder,1,52,52.0,1,9,104,...,0,0,0,0,1.0,0,0.117332,0,52,0
4,5,29684214,PyCQA,astroid,1,2414,2414.0,1,33,27,...,0,0,0,0,2.0,0,0.010753,0,2414,0

In [3]:
data.columns

Index(['id', 'project_id', 'ownername', 'reponame', 'merged_or_not',
       'lifetime_minutes', 'mergetime_minutes', 'num_commits', 'src_churn',
       'test_churn',
       ...
       'other_comment', 'num_comments_con', 'num_code_comments',
       'num_code_comments_con', 'integrator_availability', 'friday_effect',
       'contrib_rate_author', 'reopen_or_not', 'first_close_minutes',
       'reopen_num'],
      dtype='object', length=118)

In [4]:
pd.set_option('display.max_columns', None)
data.head()

,id,project_id,ownername,reponame,merged_or_not,lifetime_minutes,mergetime_minutes,num_commits,src_churn,test_churn,files_added,files_deleted,files_modified,files_changed,src_files,doc_files,other_files,num_commit_comments,num_issue_comments,num_comments,num_participants,sloc,team_size,perc_external_contribs,commits_on_files_touched,test_lines_per_kloc,test_cases_per_kloc,asserts_per_kloc,watchers,prev_pullreqs,requester_succ_rate,followers,churn_addition,churn_deletion,pr_comment_num,comment_num,perc_neg_emotion,perc_pos_emotion,perc_neu_emotion,part_num_issue,part_num_commit,part_num_pr,part_num_code,comment_conflict,hash_tag,at_tag,test_inclusion,description_length,bug_fix,ci_exists,ci_latency,ci_build_num,ci_test_passed,ci_failed_perc,ci_first_build_status,ci_last_build_status,language,fork_num,project_age,open_issue_num,pr_succ_rate,open_pr_num,first_response_time,pushed_delta,acc_commit_num,first_pr,account_creation_days,core_member,contrib_gender,contrib_country,contrib_affiliation,contrib_open,contrib_cons,contrib_extra,contrib_agree,contrib_neur,perc_contrib_neg_emo,perc_contrib_pos_emo,perc_contrib_neu_emo,contrib_first_emo,prior_review_num,inte_country,inte_affiliation,inte_open,inte_cons,inte_extra,inte_agree,inte_neur,perc_inte_neg_emo,perc_inte_pos_emo,perc_inte_neu_emo,inte_first_emo,contrib_follow_integrator,prior_interaction,social_strength,same_country,same_affiliation,open_diff,cons_diff,extra_diff,agree_diff,neur_diff,has_comments,has_participants,has_exchange,contrib_comment,inte_comment,reviewer_comment,other_comment,num_comments_con,num_code_comments,num_code_comments_con,integrator_availability,friday_effect,contrib_rate_author,reopen_or_not,first_close_minutes,reopen_num
0,1,13708387,stylelint,stylelint,1,237,237.0,1,0,0,0,0,1,1,0,0,1,0,1,1,1,14668.0,15,0.089869,79,745.04600,0.0000,0.000000,2070,14,1.000000,118,0,0,0,1,0.0,0.0,1.0,1,0,0,0,0,1,0,0,4926,NaN,1.0,274.0,1.0,1.0,0.0,success,success,JavaScript,140,21,52,0.978469,25,237.0,196583.0,28,0,353,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,14,NaN,NaN,0.805841,0.629980,0.468658,0.658221,0.541352,0.0,0.0,1.0,neutral,0,28,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,1,1,0,0,0,0,30.0,1,0.007948,0,237,0
1,2,100297899,Joaogarciadelima,checklistos,0,1410,NaN,1,0,0,0,0,1,1,0,0,0,0,2,2,1,474.0,2,0.014019,38,147.48200,16.1870,21.582700,1,299,1.000000,38,0,0,0,2,0.0,0.0,0.0,1,0,0,0,0,0,0,0,1312,NaN,1.0,79.0,1.0,0.0,1.0,failure,failure,Python,1,6,1,1.000000,7,NaN,9.0,432,0,1092,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,300,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,1,0,2,0,0,597.0,0,0.830769,0,1410,0
2,3,93139005,binary-com,SmartCharts,1,4,4.0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,34921.0,5,0.256849,175,4.64599,0.0000,0.114012,5,81,0.987654,33,0,0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,4,NaN,1.0,88.0,1.0,1.0,0.0,success,success,JavaScript,11,6,0,0.996324,10,NaN,5743.0,652,0,1884,1,male,malaysia,NaN,0.796278,0.656912,0.485889,0.655315,0.609593,0.0,0.0,0.0,NaN,94,malaysia,NaN,0.796278,0.656912,0.485889,0.655315,0.609593,0.0,0.0,0.0,NaN,0,505,0.428571,1.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,2.0,0,0.314368,0,4,0
3,4,15059440,letsencrypt,boulder,1,52,52.0,1,9,104,0,0,2,2,2,0,0,0,0,0,0,143159.0,5,0.014706,24,120.71000,0.0000,10.109800,2194,293,0.989761,222,110,3,0,0,0.0,0.0,0.0,0,0,0,0,0,0,1,1,94,NaN,1.0,489.0,1.0,1.0,0.0,success,success,Go,269,37,212,0.986523,29,NaN,978.0,1050,0,3489,1,male,canada,NaN,0.814346,0.633765,0.471257,0.666831,0.485847,0.0,0.0,0.0,NaN,679,NaN,NaN,0.818143,0.630804,0.466899,0.650931,0.496465,0.0,0.0,0.0,NaN,1,460,0.138889,NaN,NaN,0.003796,0.002961,0.004358,0.015900,0.010618,0,0,0,0,0,0,0,0,0,0,1.0,0,0.117332,0,52,0
4,5,29684214,PyCQA,astroid,1,2414,2414.0,1,33,27,0,0,2,2,2,0,0,0,1,1,1,6247.0,2,0.173077,7,554.16800,28.6183,84.142200,131,3,1.000000,1,60,0,0,1,0.0,1.0,0.0,1,0,0,0,0,0,0,1,49,NaN,1.0,261.0,1.0,1.0,0.0,success,success,Python,64,25,93,0.978495,9,2413.0,517153.0,10,0,1037,0,NaN,NaN,NaN,0.800804,0.656669,0.482100,0.713280,0.442467,0.0,0.0,0.0,NaN,67,NaN,zapier,0.818707,0.667332,0.493371,0.707962,0.455893,0.0,1.0,0.0,positive,1,6,0.125000,NaN,NaN,0.017903,0.010663,0.011271,0.005319,0.013426,1,1,1,1,1,1,0,0,0,0,2.0,0,0.010753,0,2414,0

In [7]:
data[['project_id', 'ownername', 'reponame','merged_or_not', 'perc_neg_emotion', 'perc_pos_emotion', 'perc_neu_emotion', 'contrib_gender', 'contrib_country', 'contrib_affiliation', 'inte_country', 'same_country', 'same_affiliation']].dropna(subset=['contrib_gender'])

,project_id,ownername,reponame,merged_or_not,perc_neg_emotion,perc_pos_emotion,perc_neu_emotion,contrib_gender,contrib_country,contrib_affiliation,inte_country,same_country,same_affiliation
2,93139005,binary-com,SmartCharts,1,0.000000,0.000000,0.000000,male,malaysia,NaN,malaysia,1.0,NaN
3,15059440,letsencrypt,boulder,1,0.000000,0.000000,0.000000,male,canada,NaN,NaN,NaN,NaN
5,79189935,compsy,vsv,1,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
6,4282330,ros-infrastructure,rosdep,1,0.000000,0.666667,0.333333,male,NaN,NaN,NaN,NaN,NaN
7,19499360,salopensource,sal,1,0.000000,0.000000,0.000000,female,NaN,sas,united states,NaN,NaN
8,1808,candlepin,subscription-manager,1,0.000000,0.333333,0.666667,male,united states,red hat,NaN,NaN,1.0
10,5556,Sage-Bionetworks,SynapseWebClient,1,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
11,73033219,Zeit,docs,1,0.000000,0.000000,1.000000,male,peru,NaN,united kingdom,0.0,NaN
12,11735921,arose,ngl,0,1.000000,0.000000,0.000000,male,NaN,NaN,united states,NaN,NaN
13,125530255,mlpiper,mlpiper,1,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
14,3086437,karma-runner,karma,1,0.250000,0.000000,0.750000,male,NaN,NaN,NaN,NaN,NaN
16,46403735,portainer,portainer,1,0.000000,0.000000,0.000000,male,united states,NaN,united states,1.0,NaN
17,11773124,getgauge,gauge,1,0.500000,0.000000,0.500000,male,NaN,NaN,NaN,NaN,NaN
18,5613772,pentaho,pentaho-kettle,1,0.000000,0.000000,0.000000,male,portugal,pentaho,NaN,NaN,1.0
19,55219,JetBrains,intellij-community,0,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
20,8196280,apache,spark,0,NaN,NaN,NaN,male,united states,databricks,NaN,NaN,NaN
21,22182978,cynicaloptimist,improved-initiative,1,0.000000,0.000000,0.000000,male,united states,tableau,united states,1.0,1.0
22,46634954,GoogleCloudPlatform,google-cloud-eclipse,1,0.000000,0.000000,0.000000,female,united states,NaN,united states,1.0,NaN
23,10442569,glenjarvis,ansible_tutorial,1,0.000000,0.000000,0.000000,male,united states,NaN,united states,1.0,NaN
24,9039027,tsuru,tsuru,1,0.057143,0.257143,0.685714,male,brazil,NaN,NaN,NaN,NaN
25,57324055,dstrigl,htheatpump,1,0.000000,0.000000,0.000000,male,austria,NaN,austria,1.0,NaN
27,96086758,GoogleContainerTools,jib,1,0.076923,0.076923,0.846154,male,canada,NaN,canada,1.0,NaN
28,13427273,project-ncl,pnc,1,0.000000,0.000000,1.000000,male,united kingdom,red hat,united kingdom,1.0,1.0
29,5494028,opengeoscience,geojs,1,0.000000,0.000000,1.000000,male,NaN,kitware,NaN,NaN,1.0
30,5219,scikit-learn,scikit-learn,0,0.102649,0.195364,0.701987,male,united states,NaN,NaN,NaN,NaN
31,99455722,banzaicloud,telescopes,1,0.000000,0.000000,0.000000,male,hungary,NaN,NaN,NaN,NaN
32,1803672,mulesoft,mule,1,0.000000,0.000000,1.000000,male,NaN,mulesoft,NaN,NaN,1.0
34,1142,saltstack,salt,1,0.000000,0.000000,1.000000,male,NaN,NaN,united states,NaN,NaN
35,3020145,CTPUG,wafer,1,0.000000,0.000000,1.000000,male,south africa,NaN,south africa,1.0,NaN
37,1545591,opf,openproject,1,0.000000,0.000000,1.000000,male,NaN,NaN,united kingdom,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3347903,183726,hibernate,hibernate-validator,1,0.000000,0.000000,1.000000,male,NaN,red hat,NaN,NaN,1.0
3347904,2249947,tgriesser,knex,1,0.000000,0.000000,0.000000,male,united states,NaN,united states,1.0,NaN
3347906,109864226,RedHatInsights,compliance-backend,1,NaN,NaN,NaN,male,czech republic,red hat,czech republic,1.0,1.0
3347907,3905191,facebook,react,1,0.000000,1.000000,0.000000,male,united kingdom,facebook,united kingdom,1.0,1.0
3347909,15433727,chef,chef-dk,1,0.000000,0.000000,0.000000,male,united states,NaN,united states,1.0,NaN
3347910,65003359,NYTimes,react-tracking,1,0.000000,0.000000,0.000000,male,NaN,nytimes,NaN,NaN,1.0
3347911,4505299,CartoDB,Windshaft-cartodb,1,0.000000,0.000000,0.000000,male,NaN,carto,NaN,NaN,1.0
3347912,4952344,spring-projects,spring-boot,0,0.500000,0.500000,0.000000,male,NaN,NaN,NaN,NaN,NaN
3347913,1017955,jcodec,jcodec,1,0.000000,0.000000,1.000000,male,united states,NaN,NaN,NaN,NaN
3347914,32567918,Alluxio,alluxio,1,NaN,NaN,NaN,male,united states,NaN,NaN,NaN,NaN
3347915,3798450,pcgen,pcgen,0,0.000000,0.000000,1.000000,male,united states,NaN,united states,1.0,NaN
3347916,37192712,LLK,scratch-vm,1,0.100000,0.050000,0.850000,male,NaN,NaN,NaN,NaN,NaN
3347917,43082345,eqcorrscan,EQcorrscan,0,0.000000,0.000000,1.000000,male,new zealand,NaN,new zealand,1.0,NaN
3347918,22100926,Kinto,kinto,1,0.000000,0.000000,1.000000,male,NaN,mozilla,NaN,NaN,1.0
3347919,2783352,shadow-robot,sr-build-tools,1,0.000000,0.000000,1.000000,male,NaN,NaN,NaN,NaN,NaN
3347920,19660635,broadinstitute,cromwell,1,0.000000,0.000000,1.000000,male,NaN,broad institute,NaN,NaN,1.0
3347921,19807382,jupyter,nbconvert,1,0.000000,0.250000,0.750000,male,NaN,NaN,NaN,NaN,NaN
3347922,12384531,broadinstitute,viral-ngs,1,0.000000,0.333333,0.666667,male,united states,NaN,united states,1.0,NaN
3347923,73235251,chanzuckerberg,idseq-web,1,0.000000,0.000000,0.000000,male,united states,NaN,united states,1.0,NaN
3347924,130068259,tonym89,live-poker-app,1,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
3347926,22070816,FormidableLabs,victory,1,0.000000,0.000000,0.000000,female,united states,NaN,united states,1.0,NaN
3347927,55688056,zsmartsystems,com.zsmartsystems.zigbee,1,0.000000,0.000000,0.000000,male,united kingdom,NaN,united kingdom,1.0,NaN
3347928,128227798,SixtyCapital,infrastructure,1,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
3347929,103596154,virtualidentityag,dev-fe-onboarding,1,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
3347930,28904919,plotly,plotly.js,1,0.000000,0.285714,0.714286,male,united states,NaN,united states,1.0,NaN
3347931,55291137,freechipsproject,rocket-chip,0,NaN,NaN,NaN,male,NaN,NaN,NaN,NaN,NaN
3347932,30544060,Kronos-Integration,kronos-service-consul,1,0.000000,0.000000,0.000000,male,NaN,NaN,NaN,NaN,NaN
3347933,1142,saltstack,salt,0,0.000000,0.333333,0.666667,male,united states,NaN,united states,1.0,NaN
3347934,31499094,mjmlio,mjml,1,0.142857,0.285714,0.571429,male,netherlands,NaN,netherlands,1.0,NaN
3347936,5660659,ikasanEIP,ikasan,1,0.000000,0.500000,0.500000,male,united kingdom,NaN,NaN,NaN,NaN

In [9]:
data_subset = data[['project_id', 'ownername', 'reponame','merged_or_not', 'contrib_gender', 'contrib_country', 'inte_country', 'same_country']].dropna(subset=['contrib_gender', 'contrib_country'])
data_subset.head()

,project_id,ownername,reponame,merged_or_not,contrib_gender,contrib_country,inte_country,same_country
2,93139005,binary-com,SmartCharts,1,male,malaysia,malaysia,1.0
3,15059440,letsencrypt,boulder,1,male,canada,NaN,NaN
8,1808,candlepin,subscription-manager,1,male,united states,NaN,NaN
11,73033219,Zeit,docs,1,male,peru,united kingdom,0.0
16,46403735,portainer,portainer,1,male,united states,united states,1.0

In [11]:
data_subset.groupby(['contrib_country', 'contrib_gender'])['ownername'].count()

contrib_country           contrib_gender
afghanistan               male                   2
albania                   female                10
                          male                  54
algeria                   female                 4
                          male                 154
andorra                   female                 4
                          male                   7
angola                    male                   6
anguilla                  male                 168
antarctica                female                 4
                          male                  25
argentina                 female                 5
                          male                 553
armenia                   male                   7
australia                 female              1227
                          male               16913
austria                   female               312
                          male               12673
azerbaijan                female               125
                          male                   4
bahrain                   female                 3
                          male                   2
bangladesh                female                18
                          male                 701
barbados                  male                  22
belarus                   female              1526
                          male                8677
belgium                   female               411
                          male               14169
belize                    male                   2
                                             ...
togo                      male                   1
trinidad and tobago       male                   3
tunisia                   male                  81
turkey                    female               599
                          male                8010
turkmenistan              male                   2
turks and caicos islands  male                  11
uganda                    female                14
                          male                 194
ukraine                   female               616
                          male               13328
united arab emirates      female                37
                          male                 320
united kingdom            female             11680
                          male              136104
united states             female             45174
                          male              559641
uruguay                   female                60
                          male                1575
uzbekistan                male                 420
venezuela                 female                28
                          male                 308
vietnam                   female               311
                          male                1484
virgin islands            female                 1
yemen                     female                 1
                          male                  89
zambia                    male                  47
zimbabwe                  female                24
                          male                  40
Name: ownername, Length: 288, dtype: int64

In [14]:
data_subset.groupby(['contrib_country', 'contrib_gender', 'merged_or_not'], as_index = False)['ownername'].count()

    contrib_country contrib_gender  merged_or_not  ownername
0       afghanistan           male              0          1
1       afghanistan           male              1          1
2           albania         female              0          1
3           albania         female              1          9
4           albania           male              0          5
5           albania           male              1         49
6           algeria         female              1          4
7           algeria           male              0         49
8           algeria           male              1        105
9           andorra         female              0          1
10          andorra         female              1          3
11          andorra           male              0          3
12          andorra           male              1          4
13           angola           male              0          2
14           angola           male              1          4
15         anguilla           male              0         13
16         anguilla           male              1        155
17       antarctica         female              1          4
18       antarctica           male              0          6
19       antarctica           male              1         19
20        argentina         female              0          1
21        argentina         female              1          4
22        argentina           male              0        126
23        argentina           male              1        427
24          armenia           male              0          2
25          armenia           male              1          5
26        australia         female              0        224
27        australia         female              1       1003
28        australia           male              0       2906
29        australia           male              1      14007
..              ...            ...            ...        ...
496  united kingdom           male              0      20124
497  united kingdom           male              1     115980
498   united states         female              0       7787
499   united states         female              1      37387
500   united states           male              0      94258
501   united states           male              1     465383
502         uruguay         female              0          8
503         uruguay         female              1         52
504         uruguay           male              0        233
505         uruguay           male              1       1342
506      uzbekistan           male              0         54
507      uzbekistan           male              1        366
508       venezuela         female              0         14
509       venezuela         female              1         14
510       venezuela           male              0         64
511       venezuela           male              1        244
512         vietnam         female              0        136
513         vietnam         female              1        175
514         vietnam           male              0        436
515         vietnam           male              1       1048
516  virgin islands         female              0          1
517           yemen         female              1          1
518           yemen           male              0         82
519           yemen           male              1          7
520          zambia           male              0         15
521          zambia           male              1         32
522        zimbabwe         female              0          5
523        zimbabwe         female              1         19
524        zimbabwe           male              0          9
525        zimbabwe           male              1         31

[526 rows x 4 columns]

In [7]:
data_us = data_subset[data_subset.contrib_country=='united states']
data_us.groupby('contrib_gender')['ownername'].count()

contrib_gender
female     45174
male      559641
Name: ownername, dtype: int64

In [8]:
data_us

,project_id,ownername,reponame,merged_or_not,contrib_gender,contrib_country,inte_country,same_country
8,1808,candlepin,subscription-manager,1,male,united states,NaN,NaN
16,46403735,portainer,portainer,1,male,united states,united states,1.0
20,8196280,apache,spark,0,male,united states,NaN,NaN
21,22182978,cynicaloptimist,improved-initiative,1,male,united states,united states,1.0
22,46634954,GoogleCloudPlatform,google-cloud-eclipse,1,female,united states,united states,1.0
23,10442569,glenjarvis,ansible_tutorial,1,male,united states,united states,1.0
30,5219,scikit-learn,scikit-learn,0,male,united states,NaN,NaN
38,569165,ccnmtl,mediathread,1,female,united states,united states,1.0
42,41008205,codaco,Network-Canvas,1,male,united states,united kingdom,0.0
47,33685085,prestodb,presto,1,male,united states,united states,1.0
59,22091370,kubernetes,kubernetes,1,male,united states,NaN,NaN
60,50243623,voxpupuli,puppet-r10k,0,male,united states,NaN,NaN
61,22063582,triplea-game,triplea,1,male,united states,united states,1.0
65,35321,scottwainstock,pbm,1,male,united states,united states,1.0
67,5123174,Ramda,ramda,1,male,united states,united states,1.0
68,5221787,timothycrosley,isort,1,male,united states,united states,1.0
69,3905191,facebook,react,0,male,united states,united states,1.0
75,8196280,apache,spark,0,male,united states,united states,1.0
76,11562,forcedotcom,SalesforceMobileSDK-Shared,0,male,united states,united states,1.0
78,26424942,netlify,netlify-cms,1,male,united states,united states,1.0
91,4406072,datastax,python-driver,1,male,united states,united states,1.0
93,26051663,JMRI,JMRI,1,male,united states,united states,1.0
100,5219,scikit-learn,scikit-learn,1,male,united states,united states,1.0
104,34229160,pallets,flask,1,male,united states,united states,1.0
109,92592391,Azure,azure-event-hubs-go,1,male,united states,united states,1.0
118,3905191,facebook,react,1,female,united states,NaN,NaN
120,60893271,CrunchyData,postgres-operator,1,male,united states,united states,1.0
126,418,sunpy,sunpy,0,male,united states,NaN,NaN
127,20411146,Minio,minio-java,1,male,united states,united states,1.0
132,35383186,dcos,dcos,1,male,united states,united states,1.0
...,...,...,...,...,...,...,...,...
3347817,100413611,release-engineering,estuary-api,1,male,united states,united states,1.0
3347820,32567918,Alluxio,alluxio,1,male,united states,united states,1.0
3347826,87784187,timorthi,redditraffler,1,male,united states,united states,1.0
3347833,22050458,prebid,Prebid.js,1,male,united states,united states,1.0
3347836,31118150,learningequality,kolibri,1,male,united states,NaN,NaN
3347843,89954185,AlexsLemonade,refinebio,1,male,united states,united states,1.0
3347844,9550252,CIRDLES,Topsoil,1,male,united states,united states,1.0
3347846,21715942,Wireless-Innovation-Forum,Spectrum-Access-System,1,male,united states,united states,1.0
3347850,2367064,asciidoctor,asciidoctor,1,male,united states,united states,1.0
3347853,52631744,kickstarter,android-oss,1,female,united states,united states,1.0
3347857,58611707,iesl,openreview-py,1,female,united states,NaN,NaN
3347863,53158882,ManageIQ,manageiq-ui-classic,1,male,united states,NaN,NaN
3347865,63640354,pilosa,pilosa,1,male,united states,united states,1.0
3347873,22328761,carbonblack,cb-event-forwarder,1,male,united states,NaN,NaN
3347877,15433727,chef,chef-dk,1,male,united states,united states,1.0
3347878,70764894,raster-foundry,raster-foundry,1,male,united states,united states,1.0
3347880,64107263,mozilla-services,tecken,1,male,united states,united states,1.0
3347881,20078281,nodejs,node,1,male,united states,united states,1.0
3347893,35416635,18F,identity-idp,1,male,united states,united states,1.0
3347900,14317844,ember-cli,ember-cli,1,male,united states,NaN,NaN
3347904,2249947,tgriesser,knex,1,male,united states,united states,1.0
3347909,15433727,chef,chef-dk,1,male,united states,united states,1.0
3347913,1017955,jcodec,jcodec,1,male,united states,NaN,NaN
3347914,32567918,Alluxio,alluxio,1,male,united states,NaN,NaN
3347915,3798450,pcgen,pcgen,0,male,united states,united states,1.0
3347922,12384531,broadinstitute,viral-ngs,1,male,united states,united states,1.0
3347923,73235251,chanzuckerberg,idseq-web,1,male,united states,united states,1.0
3347926,22070816,FormidableLabs,victory,1,female,united states,united states,1.0
3347930,28904919,plotly,plotly.js,1,male,united states,united states,1.0
3347933,1142,saltstack,salt,0,male,united states,united states,1.0