In [2]:
import pandas as pd

data = pd.read_csv("E:/waterloo_documents/Diversity in SE/project/new_pullreq.csv")

In [3]:
data

,id,project_id,ownername,reponame,merged_or_not,lifetime_minutes,mergetime_minutes,num_commits,src_churn,test_churn,...,other_comment,num_comments_con,num_code_comments,num_code_comments_con,integrator_availability,friday_effect,contrib_rate_author,reopen_or_not,first_close_minutes,reopen_num
0,1,13708387,stylelint,stylelint,1,237,237.0,1,0,0,...,0,0,0,0,30.0,1,0.007948,0,237,0
1,2,100297899,Joaogarciadelima,checklistos,0,1410,NaN,1,0,0,...,0,2,0,0,597.0,0,0.830769,0,1410,0
2,3,93139005,binary-com,SmartCharts,1,4,4.0,1,0,0,...,0,0,0,0,2.0,0,0.314368,0,4,0
3,4,15059440,letsencrypt,boulder,1,52,52.0,1,9,104,...,0,0,0,0,1.0,0,0.117332,0,52,0
4,5,29684214,PyCQA,astroid,1,2414,2414.0,1,33,27,...,0,0,0,0,2.0,0,0.010753,0,2414,0
5,6,79189935,compsy,vsv,1,91,91.0,1,26,0,...,0,0,0,0,161.0,0,0.456105,0,91,0
6,7,4282330,ros-infrastructure,rosdep,1,52694,52694.0,3,127,0,...,0,1,0,0,1354.0,0,0.003636,0,52694,0
7,8,19499360,salopensource,sal,1,1221,1221.0,3,6634,1480,...,0,0,0,0,1492.0,0,0.068627,0,1221,0
8,9,1808,candlepin,subscription-manager,1,8915,8915.0,1,8,10,...,0,1,0,0,694.0,1,0.000820,0,8915,0
9,10,15500271,libris,definitions,1,7,7.0,1,0,0,...,0,0,0,0,18.0,0,0.126829,0,7,0
10,11,5556,Sage-Bionetworks,SynapseWebClient,1,19,19.0,1,0,0,...,0,0,0,0,244.0,1,0.360103,0,19,0
11,12,73033219,Zeit,docs,1,20437,20437.0,4,17,0,...,0,0,1,0,88.0,1,0.336449,0,20437,0
12,13,11735921,arose,ngl,0,2028,NaN,6,324,125,...,0,1,0,0,951.0,0,0.010462,0,2028,0
13,14,125530255,mlpiper,mlpiper,1,27,27.0,1,4,0,...,0,0,0,0,411.0,1,0.005952,0,27,0
14,15,3086437,karma-runner,karma,1,73916,73916.0,2,10,87,...,0,3,0,0,97.0,0,0.006906,0,73916,0
15,16,38843634,apache,zeppelin,1,4431,4431.0,5,12,4,...,0,4,3,1,29.0,1,0.044478,0,4431,0
16,17,46403735,portainer,portainer,1,111,111.0,3,16,0,...,0,0,0,0,98.0,0,0.659098,0,111,0
17,18,11773124,getgauge,gauge,1,741,741.0,2,13,1,...,0,1,0,0,1280.0,0,0.000322,0,741,0
18,19,5613772,pentaho,pentaho-kettle,1,108,108.0,2,4,20,...,1,0,0,0,186.0,0,0.000708,0,108,0
19,20,55219,JetBrains,intellij-community,0,674640,NaN,1,2,0,...,0,0,0,0,512.0,0,0.000000,0,674640,0
20,21,8196280,apache,spark,0,125,NaN,31,2942,779,...,1,3,0,0,0.0,0,0.041424,0,125,0
21,22,22182978,cynicaloptimist,improved-initiative,1,0,0.0,1,0,0,...,0,0,0,0,1313.0,0,0.974831,0,0,0
22,23,46634954,GoogleCloudPlatform,google-cloud-eclipse,1,72,72.0,1,0,0,...,1,0,0,0,927.0,0,0.277778,0,72,0
23,24,10442569,glenjarvis,ansible_tutorial,1,0,0.0,1,0,0,...,0,0,0,0,NaN,0,1.000000,0,0,0
24,25,9039027,tsuru,tsuru,1,10399,10399.0,15,1828,818,...,0,4,28,1,1026.0,0,0.001442,0,10399,0
25,26,57324055,dstrigl,htheatpump,1,0,0.0,1,62,0,...,0,0,0,0,108.0,0,0.363322,0,0,0
26,27,52376483,Netflix,conductor,1,599,599.0,14,1619,0,...,0,0,0,0,1.0,0,0.005505,0,599,0
27,28,96086758,GoogleContainerTools,jib,1,1356,1356.0,3,70,130,...,0,4,11,3,143.0,0,0.067167,0,1356,0
28,29,13427273,project-ncl,pnc,1,183,183.0,1,64,0,...,0,1,0,0,2855.0,0,0.163074,0,183,0
29,30,5494028,opengeoscience,geojs,1,4,4.0,2,39,0,...,0,0,0,0,22.0,1,0.065257,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3347907,3347908,3905191,facebook,react,1,484,484.0,1,0,0,...,1,0,0,0,12.0,0,0.097158,0,484,0
3347908,3347909,14094472,monaca,monaca-cli,1,2749,2749.0,3,65,0,...,0,1,0,0,34.0,0,0.038938,0,2749,0
3347909,3347910,15433727,chef,chef-dk,1,15,15.0,1,20,0,...,0,0,0,0,7.0,0,0.102484,0,15,0
3347910,3347911,65003359,NYTimes,react-tracking,1,2,2.0,3,23,0,...,0,0,0,0,0.0,0,0.478261,0,2,0
3347911,3347912,4505299,CartoDB,Windshaft-cartodb,1,4169,4169.0,2,9,42,...,0,0,0,0,719.0,1,0.542902,0,4169,0
3347912,3347913,4952344,spring-projects,spring-boot,0,229,NaN,1,2,38,...,0,0,0,0,113.0,0,0.000000,0,229,0
3347913,3347914,1017955,jcodec,jcodec,1,391,391.0,2,0,0,...,0,0,1,0,211.0,0,0.429836,0,391,0
3347914,3347915,32567918,Alluxio,alluxio,1,16676,16676.0,6,72,0,...,1,2,5,2,3.0,1,0.122084,0,16676,0
3347915,3347916,3798450,pcgen,pcgen,0,18,NaN,1,578,0,...,0,2,0,0,483.0,0,0.019137,0,18,0
3347916,3347917,37192712,LLK,scratch-vm,1,4310,4310.0,6,80,0,...,0,9,13,3,120.0,0,0.048916,0,4310,0
3347917,3347918,43082345,eqcorrscan,EQcorrscan,0,5478,NaN,3,689,0,...,1,1,4,0,1373.0,0,0.790892,0,5478,0
3347918,3347919,22100926,Kinto,kinto,1,3053,3053.0,3,6,0,...,0,1,0,0,340.0,0,0.417896,0,3053,0
3347919,3347920,2783352,shadow-robot,sr-build-tools,1,16,16.0,1,35,0,...,0,1,1,1,165.0,0,0.247321,0,16,0
3347920,3347921,19660635,broadinstitute,cromwell,1,125,125.0,1,0,0,...,0,0,0,0,762.0,1,0.129218,0,125,0
3347921,3347922,19807382,jupyter,nbconvert,1,27242,27242.0,3,10,23,...,1,3,2,1,434.0,1,0.002153,0,27242,0
3347922,3347923,12384531,broadinstitute,viral-ngs,1,3757,3757.0,2,12,0,...,0,1,2,1,672.0,0,0.331158,0,3757,0
3347923,3347924,73235251,chanzuckerberg,idseq-web,1,1285,1285.0,3,1082,0,...,0,0,0,0,166.0,0,0.019013,0,1285,0
3347924,3347925,130068259,tonym89,live-poker-app,1,0,0.0,1,896,0,...,0,0,0,0,NaN,0,1.000000,0,0,0
3347925,3347926,45297,apache,kafka,1,1163,1162.0,1,17,0,...,0,1,0,0,4.0,0,0.005127,0,1163,0
3347926,3347927,22070816,FormidableLabs,victory,1,6,6.0,1,16,0,...,0,0,0,0,263.0,0,0.424033,0,6,0
3347927,3347928,55688056,zsmartsystems,com.zsmartsystems.zigbee,1,177,177.0,2,367,0,...,1,0,0,0,94.0,0,0.987879,0,177,0
3347928,3347929,128227798,SixtyCapital,infrastructure,1,80748,80748.0,1,39,0,...,0,0,0,0,NaN,0,0.720930,0,80748,0
3347929,3347930,103596154,virtualidentityag,dev-fe-onboarding,1,3,3.0,1,5,0,...,0,0,0,0,NaN,0,0.333333,0,3,0
3347930,3347931,28904919,plotly,plotly.js,1,1228,1228.0,3,19,64,...,0,4,6,4,101.0,0,0.112653,0,1228,0
3347931,3347932,55291137,freechipsproject,rocket-chip,0,15684,NaN,17,1617,0,...,0,10,15,9,608.0,0,0.015033,1,2238,1
3347932,3347933,30544060,Kronos-Integration,kronos-service-consul,1,9,9.0,1,0,0,...,0,0,0,0,2537.0,0,0.696970,0,9,0
3347933,3347934,1142,saltstack,salt,0,1165,NaN,1,10,0,...,0,1,0,0,42.0,0,0.056849,0,1165,0
3347934,3347935,31499094,mjmlio,mjml,1,8834,8834.0,2,6,0,...,0,8,0,0,597.0,0,0.002041,0,8834,0
3347935,3347936,55317,zotonic,zotonic,0,703,NaN,7,15,0,...,0,0,0,0,10.0,0,0.000732,0,703,0
3347936,3347937,5660659,ikasanEIP,ikasan,1,44,44.0,29,26881,2207,...,0,2,1,1,332.0,0,0.208889,0,44,0

In [4]:
pd.set_option('display.max_columns', None)
data.head()

,id,project_id,ownername,reponame,merged_or_not,lifetime_minutes,mergetime_minutes,num_commits,src_churn,test_churn,files_added,files_deleted,files_modified,files_changed,src_files,doc_files,other_files,num_commit_comments,num_issue_comments,num_comments,num_participants,sloc,team_size,perc_external_contribs,commits_on_files_touched,test_lines_per_kloc,test_cases_per_kloc,asserts_per_kloc,watchers,prev_pullreqs,requester_succ_rate,followers,churn_addition,churn_deletion,pr_comment_num,comment_num,perc_neg_emotion,perc_pos_emotion,perc_neu_emotion,part_num_issue,part_num_commit,part_num_pr,part_num_code,comment_conflict,hash_tag,at_tag,test_inclusion,description_length,bug_fix,ci_exists,ci_latency,ci_build_num,ci_test_passed,ci_failed_perc,ci_first_build_status,ci_last_build_status,language,fork_num,project_age,open_issue_num,pr_succ_rate,open_pr_num,first_response_time,pushed_delta,acc_commit_num,first_pr,account_creation_days,core_member,contrib_gender,contrib_country,contrib_affiliation,contrib_open,contrib_cons,contrib_extra,contrib_agree,contrib_neur,perc_contrib_neg_emo,perc_contrib_pos_emo,perc_contrib_neu_emo,contrib_first_emo,prior_review_num,inte_country,inte_affiliation,inte_open,inte_cons,inte_extra,inte_agree,inte_neur,perc_inte_neg_emo,perc_inte_pos_emo,perc_inte_neu_emo,inte_first_emo,contrib_follow_integrator,prior_interaction,social_strength,same_country,same_affiliation,open_diff,cons_diff,extra_diff,agree_diff,neur_diff,has_comments,has_participants,has_exchange,contrib_comment,inte_comment,reviewer_comment,other_comment,num_comments_con,num_code_comments,num_code_comments_con,integrator_availability,friday_effect,contrib_rate_author,reopen_or_not,first_close_minutes,reopen_num
0,1,13708387,stylelint,stylelint,1,237,237.0,1,0,0,0,0,1,1,0,0,1,0,1,1,1,14668.0,15,0.089869,79,745.04600,0.0000,0.000000,2070,14,1.000000,118,0,0,0,1,0.0,0.0,1.0,1,0,0,0,0,1,0,0,4926,NaN,1.0,274.0,1.0,1.0,0.0,success,success,JavaScript,140,21,52,0.978469,25,237.0,196583.0,28,0,353,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,14,NaN,NaN,0.805841,0.629980,0.468658,0.658221,0.541352,0.0,0.0,1.0,neutral,0,28,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,0,0,1,1,0,0,0,0,30.0,1,0.007948,0,237,0
1,2,100297899,Joaogarciadelima,checklistos,0,1410,NaN,1,0,0,0,0,1,1,0,0,0,0,2,2,1,474.0,2,0.014019,38,147.48200,16.1870,21.582700,1,299,1.000000,38,0,0,0,2,0.0,0.0,0.0,1,0,0,0,0,0,0,0,1312,NaN,1.0,79.0,1.0,0.0,1.0,failure,failure,Python,1,6,1,1.000000,7,NaN,9.0,432,0,1092,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0,300,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,1,0,2,0,0,597.0,0,0.830769,0,1410,0
2,3,93139005,binary-com,SmartCharts,1,4,4.0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,34921.0,5,0.256849,175,4.64599,0.0000,0.114012,5,81,0.987654,33,0,0,0,0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,4,NaN,1.0,88.0,1.0,1.0,0.0,success,success,JavaScript,11,6,0,0.996324,10,NaN,5743.0,652,0,1884,1,male,malaysia,NaN,0.796278,0.656912,0.485889,0.655315,0.609593,0.0,0.0,0.0,NaN,94,malaysia,NaN,0.796278,0.656912,0.485889,0.655315,0.609593,0.0,0.0,0.0,NaN,0,505,0.428571,1.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,2.0,0,0.314368,0,4,0
3,4,15059440,letsencrypt,boulder,1,52,52.0,1,9,104,0,0,2,2,2,0,0,0,0,0,0,143159.0,5,0.014706,24,120.71000,0.0000,10.109800,2194,293,0.989761,222,110,3,0,0,0.0,0.0,0.0,0,0,0,0,0,0,1,1,94,NaN,1.0,489.0,1.0,1.0,0.0,success,success,Go,269,37,212,0.986523,29,NaN,978.0,1050,0,3489,1,male,canada,NaN,0.814346,0.633765,0.471257,0.666831,0.485847,0.0,0.0,0.0,NaN,679,NaN,NaN,0.818143,0.630804,0.466899,0.650931,0.496465,0.0,0.0,0.0,NaN,1,460,0.138889,NaN,NaN,0.003796,0.002961,0.004358,0.015900,0.010618,0,0,0,0,0,0,0,0,0,0,1.0,0,0.117332,0,52,0
4,5,29684214,PyCQA,astroid,1,2414,2414.0,1,33,27,0,0,2,2,2,0,0,0,1,1,1,6247.0,2,0.173077,7,554.16800,28.6183,84.142200,131,3,1.000000,1,60,0,0,1,0.0,1.0,0.0,1,0,0,0,0,0,0,1,49,NaN,1.0,261.0,1.0,1.0,0.0,success,success,Python,64,25,93,0.978495,9,2413.0,517153.0,10,0,1037,0,NaN,NaN,NaN,0.800804,0.656669,0.482100,0.713280,0.442467,0.0,0.0,0.0,NaN,67,NaN,zapier,0.818707,0.667332,0.493371,0.707962,0.455893,0.0,1.0,0.0,positive,1,6,0.125000,NaN,NaN,0.017903,0.010663,0.011271,0.005319,0.013426,1,1,1,1,1,1,0,0,0,0,2.0,0,0.010753,0,2414,0

In [5]:
data_subset = data[['project_id', 'ownername', 'reponame','merged_or_not', 'contrib_gender', 'contrib_country', 'inte_country', 'same_country']].dropna(subset=['contrib_gender', 'contrib_country'])
data_subset.head()

,project_id,ownername,reponame,merged_or_not,contrib_gender,contrib_country,inte_country,same_country
2,93139005,binary-com,SmartCharts,1,male,malaysia,malaysia,1.0
3,15059440,letsencrypt,boulder,1,male,canada,NaN,NaN
8,1808,candlepin,subscription-manager,1,male,united states,NaN,NaN
11,73033219,Zeit,docs,1,male,peru,united kingdom,0.0
16,46403735,portainer,portainer,1,male,united states,united states,1.0

In [6]:
data_subset.groupby(['contrib_country', 'contrib_gender', 'merged_or_not'], as_index = False)

In [7]:
# jersey and guernsey is close to France so I put it in western_europe
# Gibraltar is close to spain but it is a British territory so not sure where to place it
# I placed Kosovo in southern_europe since it is close to albania and serbia
# Not sure about Pitcairin islands as well

sub_saharan_africa = ["angola","benin","botswana","burkina faso","burundi","cabo verde","cameroon","central african republic","chad" "comoros ","congo","cote d'ivoire","democratic republic of the congo","djibouti","equatorial guinea","eritrea","ethiopia","gabon","gambia","ghana","guinea","guinea-bissau ","kenya","lesotho","liberia","madagascar","malawi","mali","mauritania","mauritius","mayotte","mozambique" "namibia","niger","nigeria","reunion","rwanda","sao tome and principe","senegal","seychelles","sierra leone","somalia","south africa","south sudan","swaziland","togo","uganda","tanzania","zambia","zimbabwe"]
northern_africa = ["algeria", "egypt", "libya", "morocco", "sudan", "tunisia", "western sahara"]
western_asia =  ["azerbaijan", "armenia", "bahrain", "cyprus", "georgia", "iraq", "israel", "jordan", "kuwait", "lebanon", "palestinian territories", "oman", "qatar", "saudi arabia", "syria", "turkey", "united arab emirates", "yemen"]
central_asia =["kazakhstan", "kyrgyzstan", "tajikistan", "turkmenistan", "uzbekistan"]
southern_asia = ["afghanistan", "bangladesh", "bhutan", "india", "iran", "maldives", "nepal", "pakistan", "sri lanka"]
eastern_asia = ["vietnam","taiwan","macau","laos","china", "hong kong", "china, macao sar", "south korea", "japan", "mongolia", "north korea"]
south_eastern_asia = ["brunei", "cambodia", "indonesia", "lao people's democratic republic", "malaysia", "myanmar", "philippines", "singapore", "thailand", "timor-leste", "viet nam"]
caribbean = ["anguilla", "antigua and barbuda", "aruba", "bahamas", "barbados", "bonaire, sint eustatius and saba", "virgin islands", "cayman islands", "cuba", "curacao", "dominica", "dominican republic", "grenada", "guadeloupe", "haiti", "jamaica", "martinique", "montserrat", "puerto rico", "saint kitts and nevis", "saint lucia", "saint vincent and the grenadines", "sint maarten (dutch part)", "trinidad and tobago", "turks and caicos islands", "united states virgin islands"]
central_america = ["belize", "honduras", "costa rica", "el salvador", "guatemala", "mexico", "nicaragua", "panama"]
south_america = ["argentina", "bolivia", "brazil", "chile", "colombia", "ecuador", "french guiana", "falkland islands (malvinas)", "south georgia & the south sandwich islands", "guyana", "paraguay", "peru", "suriname", "uruguay", "venezuela"]
australia_and_new_zealand = ["australia", "christmas island", "cocos (keeling) islands", "heard island & mcdonald islands", "norfolk island", "new zealand"]
melanesia = ["fiji", "new caledonia", "papua new guinea", "solomon islands", "vanuatu"]
micronesia = ["kiribati", "marshall islands", "micronesia (federated states of)", "nauru", "northern mariana islands", "palau", "guam"]
polynesia = ["french polynesia", "wallis and futuna island", "pitcairn", "cook islands", "niue", "tokelau", "tonga", "tuvalu", "american samoa", "samoa"]
northern_america = ["bermuda", "canada", "greenland", "united states"]
eastern_europe = ["bulgaria", "belarus", "czech republic", "hungary", "moldova", "poland", "romania", "russia", "slovakia", "ukraine"]
western_europe = ["austria", "belgium", "switzerland", "germany", "france", "liechtenstein", "luxembourg", "monaco", "netherlands antilles","netherlands", "jersey", "guernsey"]
northern_europe = ["Ã¥land islands", "channel islands", "denmark", "estonia", "faroe islands", "finland", "isle of man", "united kingdom", "iceland", "ireland", "latvia", "lithuania", "norway", "sweden"]
southern_europe = ["albania", "andorra", "bosnia and herzegovina", "croatia", "greece", "italy", "malta", "montenegro", "portugal", "san marino", "serbia", "slovenia", "spain", "macedonia", "kosovo"]

In [8]:
data_subset.loc[data_subset["contrib_country"].isin(sub_saharan_africa), "contrib_country"] = "sub_saharan_africa"
data_subset.loc[data_subset["contrib_country"].isin(northern_africa), "contrib_country"] = "northern_africa"
data_subset.loc[data_subset["contrib_country"].isin(western_asia), "contrib_country"] = "western_asia"
data_subset.loc[data_subset["contrib_country"].isin(central_asia), "contrib_country"] = "central_asia"
data_subset.loc[data_subset["contrib_country"].isin(southern_asia), "contrib_country"] = "southern_asia"
data_subset.loc[data_subset["contrib_country"].isin(eastern_asia), "contrib_country"] = "eastern_asia"
data_subset.loc[data_subset["contrib_country"].isin(south_eastern_asia), "contrib_country"] = "south_eastern_asia"
data_subset.loc[data_subset["contrib_country"].isin(caribbean), "contrib_country"] = "caribbean"
data_subset.loc[data_subset["contrib_country"].isin(central_america), "contrib_country"] = "central_america"
data_subset.loc[data_subset["contrib_country"].isin(south_america), "contrib_country"] = "south_america"
data_subset.loc[data_subset["contrib_country"].isin(australia_and_new_zealand), "contrib_country"] = "australia_and_new_zealand"
data_subset.loc[data_subset["contrib_country"].isin(melanesia), "contrib_country"] = "melanesia"
data_subset.loc[data_subset["contrib_country"].isin(micronesia), "contrib_country"] = "micronesia"
data_subset.loc[data_subset["contrib_country"].isin(polynesia), "contrib_country"] = "polynesia"
data_subset.loc[data_subset["contrib_country"].isin(northern_america), "contrib_country"] = "northern_america"
data_subset.loc[data_subset["contrib_country"].isin(eastern_europe), "contrib_country"] = "eastern_europe"
data_subset.loc[data_subset["contrib_country"].isin(western_europe), "contrib_country"] = "western_europe"
data_subset.loc[data_subset["contrib_country"].isin(northern_europe), "contrib_country"] = "northern_europe"
data_subset.loc[data_subset["contrib_country"].isin(southern_europe), "contrib_country"] = "southern_europe"
data_subset.loc[data_subset["contrib_country"].isin(["mozambique"]), "contrib_country"] = "sub_saharan_africa"

In [9]:
data_grouped = data_subset.groupby(['contrib_country', 'contrib_gender'], as_index = False)['project_id'].count()
data_grouped
listOfExtraRows = [pd.Series(['gibraltar', 'female', 0], index=data_grouped.columns ) ,
                pd.Series(['micronesia', 'female', 0], index=data_grouped.columns ) ,
                pd.Series(['polynesia', 'female', 0], index=data_grouped.columns ) ]
# gibraltar_female_row = {'contrib_country': 'gibraltar', 'contrib_gender': 'female', 'project_id': 0}
# micronesia_female_row = {'contrib_country': 'micronesia', 'contrib_gender': 'female', 'project_id': 0}
# polynesia_female_row = {'contrib_country': 'polynesia', 'contrib_gender': 'female', 'project_id': 0}
data_grouped = data_grouped.append(listOfExtraRows, ignore_index=True)
data_grouped

              contrib_country contrib_gender  project_id
0                  antarctica         female           4
1                  antarctica           male          25
2   australia_and_new_zealand         female        1825
3   australia_and_new_zealand           male       24885
4                   caribbean         female          24
5                   caribbean           male         722
6             central_america         female         698
7             central_america           male        5132
8                central_asia         female          25
9                central_asia           male         794
10               eastern_asia         female       11716
11               eastern_asia           male       55008
12             eastern_europe         female        7878
13             eastern_europe           male      116209
14                  gibraltar           male          10
15                  melanesia         female           3
16                  melanesia           male           1
17                 micronesia           male         221
18            northern_africa         female          36
19            northern_africa           male        1355
20           northern_america         female       45299
21           northern_america           male      565085
22            northern_europe         female       17188
23            northern_europe           male      183391
24           pitcairn islands         female           1
25           pitcairn islands           male           2
26                  polynesia           male           4
27              south_america         female        1297
28              south_america           male       27443
29         south_eastern_asia         female        1238
30         south_eastern_asia           male        8864
31              southern_asia         female        2059
32              southern_asia           male        7783
33            southern_europe         female        8241
34            southern_europe           male       37299
35         sub_saharan_africa         female         217
36         sub_saharan_africa           male        5982
37               western_asia         female         846
38               western_asia           male       10323
39             western_europe         female        7995
40             western_europe           male      144142
41                  gibraltar         female           0
42                 micronesia         female           0
43                  polynesia         female           0

In [10]:
data_female = data_grouped.loc[data_grouped['contrib_gender'] == "female"]
data_female = data_female.rename(columns={"project_id": "female_count"})
data_male = data_grouped.loc[data_grouped['contrib_gender'] == "male"]
data_male = data_male.rename(columns={"project_id": "male_count"})

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.merge(data_male, data_female, on='contrib_country') 
df['total_contributors'] = df["male_count"] + df["female_count"]
df["male_average"] = df["male_count"] / df['total_contributors']
df["female_average"] = df["female_count"] / df['total_contributors']
df["female_to_male_ratio"] = df["female_count"] / df["male_count"]
df = df.drop(['contrib_gender_x', 'contrib_gender_y'], axis=1)
df = df.set_index('contrib_country')
df

,male_count,female_count,total_contributors,male_average,female_average,female_to_male_ratio
contrib_country,,,,,,
antarctica,25,4,29,0.862069,0.137931,0.160000
australia_and_new_zealand,24885,1825,26710,0.931674,0.068326,0.073337
caribbean,722,24,746,0.967828,0.032172,0.033241
central_america,5132,698,5830,0.880274,0.119726,0.136009
central_asia,794,25,819,0.969475,0.030525,0.031486
eastern_asia,55008,11716,66724,0.824411,0.175589,0.212987
eastern_europe,116209,7878,124087,0.936512,0.063488,0.067792
gibraltar,10,0,10,1.000000,0.000000,0.000000
melanesia,1,3,4,0.250000,0.750000,3.000000
micronesia,221,0,221,1.000000,0.000000,0.000000
northern_africa,1355,36,1391,0.974119,0.025881,0.026568
northern_america,565085,45299,610384,0.925786,0.074214,0.080163
northern_europe,183391,17188,200579,0.914308,0.085692,0.093723
pitcairn islands,2,1,3,0.666667,0.333333,0.500000
polynesia,4,0,4,1.000000,0.000000,0.000000
south_america,27443,1297,28740,0.954871,0.045129,0.047262
south_eastern_asia,8864,1238,10102,0.877450,0.122550,0.139666
southern_asia,7783,2059,9842,0.790795,0.209205,0.264551
southern_europe,37299,8241,45540,0.819038,0.180962,0.220944
sub_saharan_africa,5982,217,6199,0.964994,0.035006,0.036275
western_asia,10323,846,11169,0.924255,0.075745,0.081953
western_europe,144142,7995,152137,0.947449,0.052551,0.055466

In [12]:
# max and min contributors, female and male
print(df.loc[df['total_contributors'] == df['total_contributors'].min()])
print(df.loc[df['total_contributors'] == df['total_contributors'].max()])

                  male_count  female_count  total_contributors  male_average  \
contrib_country
pitcairn islands           2             1                   3      0.666667

                  female_average  female_to_male_ratio
contrib_country
pitcairn islands        0.333333                   0.5
                  male_count  female_count  total_contributors  male_average  \
contrib_country
northern_america      565085         45299              610384      0.925786

                  female_average  female_to_male_ratio
contrib_country
northern_america        0.074214              0.080163

In [13]:
# best female average
sorted_df = df.sort_values(by='female_average', ascending=False)
sorted_df

,male_count,female_count,total_contributors,male_average,female_average,female_to_male_ratio
contrib_country,,,,,,
melanesia,1,3,4,0.250000,0.750000,3.000000
pitcairn islands,2,1,3,0.666667,0.333333,0.500000
southern_asia,7783,2059,9842,0.790795,0.209205,0.264551
southern_europe,37299,8241,45540,0.819038,0.180962,0.220944
eastern_asia,55008,11716,66724,0.824411,0.175589,0.212987
antarctica,25,4,29,0.862069,0.137931,0.160000
south_eastern_asia,8864,1238,10102,0.877450,0.122550,0.139666
central_america,5132,698,5830,0.880274,0.119726,0.136009
northern_europe,183391,17188,200579,0.914308,0.085692,0.093723
western_asia,10323,846,11169,0.924255,0.075745,0.081953
northern_america,565085,45299,610384,0.925786,0.074214,0.080163
australia_and_new_zealand,24885,1825,26710,0.931674,0.068326,0.073337
eastern_europe,116209,7878,124087,0.936512,0.063488,0.067792
western_europe,144142,7995,152137,0.947449,0.052551,0.055466
south_america,27443,1297,28740,0.954871,0.045129,0.047262
sub_saharan_africa,5982,217,6199,0.964994,0.035006,0.036275
caribbean,722,24,746,0.967828,0.032172,0.033241
central_asia,794,25,819,0.969475,0.030525,0.031486
northern_africa,1355,36,1391,0.974119,0.025881,0.026568
micronesia,221,0,221,1.000000,0.000000,0.000000
polynesia,4,0,4,1.000000,0.000000,0.000000
gibraltar,10,0,10,1.000000,0.000000,0.000000

In [19]:
sorted_df = df.sort_values(by='female_count', ascending=False)
sorted_df

,male_count,female_count,total_contributors,male_average,female_average,female_to_male_ratio
contrib_country,,,,,,
northern_america,565085,45299,610384,0.925786,0.074214,0.080163
northern_europe,183391,17188,200579,0.914308,0.085692,0.093723
eastern_asia,55008,11716,66724,0.824411,0.175589,0.212987
southern_europe,37299,8241,45540,0.819038,0.180962,0.220944
western_europe,144142,7995,152137,0.947449,0.052551,0.055466
eastern_europe,116209,7878,124087,0.936512,0.063488,0.067792
southern_asia,7783,2059,9842,0.790795,0.209205,0.264551
australia_and_new_zealand,24885,1825,26710,0.931674,0.068326,0.073337
south_america,27443,1297,28740,0.954871,0.045129,0.047262
south_eastern_asia,8864,1238,10102,0.877450,0.122550,0.139666
western_asia,10323,846,11169,0.924255,0.075745,0.081953
central_america,5132,698,5830,0.880274,0.119726,0.136009
sub_saharan_africa,5982,217,6199,0.964994,0.035006,0.036275
northern_africa,1355,36,1391,0.974119,0.025881,0.026568
central_asia,794,25,819,0.969475,0.030525,0.031486
caribbean,722,24,746,0.967828,0.032172,0.033241
antarctica,25,4,29,0.862069,0.137931,0.160000
melanesia,1,3,4,0.250000,0.750000,3.000000
pitcairn islands,2,1,3,0.666667,0.333333,0.500000
polynesia,4,0,4,1.000000,0.000000,0.000000
micronesia,221,0,221,1.000000,0.000000,0.000000
gibraltar,10,0,10,1.000000,0.000000,0.000000

In [33]:
# Moving on to analyse merge ratios
data_subset.groupby(['contrib_country', 'contrib_gender', 'merged_or_not'], as_index = False)['ownername'].count()

              contrib_country contrib_gender  merged_or_not  ownername
0                  antarctica         female              1          4
1                  antarctica           male              0          6
2                  antarctica           male              1         19
3   australia_and_new_zealand         female              0        358
4   australia_and_new_zealand         female              1       1467
5   australia_and_new_zealand           male              0       4324
6   australia_and_new_zealand           male              1      20561
7                   caribbean         female              0          5
8                   caribbean         female              1         19
9                   caribbean           male              0        185
10                  caribbean           male              1        537
11            central_america         female              0         61
12            central_america         female              1        637
13            central_america           male              0        996
14            central_america           male              1       4136
15               central_asia         female              0          4
16               central_asia         female              1         21
17               central_asia           male              0        123
18               central_asia           male              1        671
19               eastern_asia         female              0       3027
20               eastern_asia         female              1       8689
21               eastern_asia           male              0      12229
22               eastern_asia           male              1      42779
23             eastern_europe         female              0       1274
24             eastern_europe         female              1       6604
25             eastern_europe           male              0      22443
26             eastern_europe           male              1      93766
27                  gibraltar           male              0          4
28                  gibraltar           male              1          6
29                  melanesia         female              0          1
..                        ...            ...            ...        ...
48                  polynesia           male              0          1
49                  polynesia           male              1          3
50              south_america         female              0        212
51              south_america         female              1       1085
52              south_america           male              0       5339
53              south_america           male              1      22104
54         south_eastern_asia         female              0        204
55         south_eastern_asia         female              1       1034
56         south_eastern_asia           male              0       1645
57         south_eastern_asia           male              1       7219
58              southern_asia         female              0        320
59              southern_asia         female              1       1739
60              southern_asia           male              0       1908
61              southern_asia           male              1       5875
62            southern_europe         female              0        929
63            southern_europe         female              1       7312
64            southern_europe           male              0       7514
65            southern_europe           male              1      29785
66         sub_saharan_africa         female              0         63
67         sub_saharan_africa         female              1        154
68         sub_saharan_africa           male              0        993
69         sub_saharan_africa           male              1       4989
70               western_asia         female              0        156
71               western_asia         female              1        690
72               western_asia           male              0       1723
73               western_asia           male              1       8600
74             western_europe         female              0       1281
75             western_europe         female              1       6714
76             western_europe           male              0      25672
77             western_europe           male              1     118470

[78 rows x 4 columns]

In [27]:
groupedvalues = data_subset.groupby(['contrib_country','contrib_gender'])["merged_or_not"].agg([('merged_ratio', 'mean')])
groupedvalues=groupedvalues.reset_index()
groupedvalues
listOfExtraRows = [pd.Series(['gibraltar', 'female', 0], index=groupedvalues.columns ) ,
                pd.Series(['micronesia', 'female', 0], index=groupedvalues.columns ) ,
                pd.Series(['polynesia', 'female', 0], index=groupedvalues.columns ) ]
# gibraltar_female_row = {'contrib_country': 'gibraltar', 'contrib_gender': 'female', 'project_id': 0}
# micronesia_female_row = {'contrib_country': 'micronesia', 'contrib_gender': 'female', 'project_id': 0}
# polynesia_female_row = {'contrib_country': 'polynesia', 'contrib_gender': 'female', 'project_id': 0}
groupedvalues = groupedvalues.append(listOfExtraRows, ignore_index=True)
groupedvalues

              contrib_country contrib_gender  merged_ratio
0                  antarctica         female      1.000000
1                  antarctica           male      0.760000
2   australia_and_new_zealand         female      0.803836
3   australia_and_new_zealand           male      0.826241
4                   caribbean         female      0.791667
5                   caribbean           male      0.743767
6             central_america         female      0.912607
7             central_america           male      0.805924
8                central_asia         female      0.840000
9                central_asia           male      0.845088
10               eastern_asia         female      0.741635
11               eastern_asia           male      0.777687
12             eastern_europe         female      0.838284
13             eastern_europe           male      0.806874
14                  gibraltar           male      0.600000
15                  melanesia         female      0.666667
16                  melanesia           male      1.000000
17                 micronesia           male      0.990950
18            northern_africa         female      0.527778
19            northern_africa           male      0.641328
20           northern_america         female      0.827656
21           northern_america           male      0.831693
22            northern_europe         female      0.834827
23            northern_europe           male      0.845570
24           pitcairn islands         female      1.000000
25           pitcairn islands           male      0.000000
26                  polynesia           male      0.750000
27              south_america         female      0.836546
28              south_america           male      0.805451
29         south_eastern_asia         female      0.835218
30         south_eastern_asia           male      0.814418
31              southern_asia         female      0.844585
32              southern_asia           male      0.754850
33            southern_europe         female      0.887271
34            southern_europe           male      0.798547
35         sub_saharan_africa         female      0.709677
36         sub_saharan_africa           male      0.834002
37               western_asia         female      0.815603
38               western_asia           male      0.833091
39             western_europe         female      0.839775
40             western_europe           male      0.821898
41                  gibraltar         female      0.000000
42                 micronesia         female      0.000000
43                  polynesia         female      0.000000

In [29]:
female_merge = groupedvalues.loc[groupedvalues['contrib_gender'] == "female"]
female_merge = female_merge.rename(columns={"merged_ratio": "female_merge_ratio"})
male_merge = groupedvalues.loc[groupedvalues['contrib_gender'] == "male"]
male_merge = male_merge.rename(columns={"merged_ratio": "male_merge_ratio"})
male_merge

              contrib_country contrib_gender  male_merge_ratio
1                  antarctica           male          0.760000
3   australia_and_new_zealand           male          0.826241
5                   caribbean           male          0.743767
7             central_america           male          0.805924
9                central_asia           male          0.845088
11               eastern_asia           male          0.777687
13             eastern_europe           male          0.806874
14                  gibraltar           male          0.600000
16                  melanesia           male          1.000000
17                 micronesia           male          0.990950
19            northern_africa           male          0.641328
21           northern_america           male          0.831693
23            northern_europe           male          0.845570
25           pitcairn islands           male          0.000000
26                  polynesia           male          0.750000
28              south_america           male          0.805451
30         south_eastern_asia           male          0.814418
32              southern_asia           male          0.754850
34            southern_europe           male          0.798547
36         sub_saharan_africa           male          0.834002
38               western_asia           male          0.833091
40             western_europe           male          0.821898

In [30]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.merge(male_merge, female_merge, on='contrib_country') 
# df['total_contributors'] = df["male_count"] + df["female_count"]
# df["male_average"] = df["male_count"] / df['total_contributors']
# df["female_average"] = df["female_count"] / df['total_contributors']
# df["female_to_male_ratio"] = df["female_count"] / df["male_count"]
df = df.drop(['contrib_gender_x', 'contrib_gender_y'], axis=1)
df = df.set_index('contrib_country')
df

                           male_merge_ratio  female_merge_ratio
contrib_country
antarctica                         0.760000            1.000000
australia_and_new_zealand          0.826241            0.803836
caribbean                          0.743767            0.791667
central_america                    0.805924            0.912607
central_asia                       0.845088            0.840000
eastern_asia                       0.777687            0.741635
eastern_europe                     0.806874            0.838284
gibraltar                          0.600000            0.000000
melanesia                          1.000000            0.666667
micronesia                         0.990950            0.000000
northern_africa                    0.641328            0.527778
northern_america                   0.831693            0.827656
northern_europe                    0.845570            0.834827
pitcairn islands                   0.000000            1.000000
polynesia                          0.750000            0.000000
south_america                      0.805451            0.836546
south_eastern_asia                 0.814418            0.835218
southern_asia                      0.754850            0.844585
southern_europe                    0.798547            0.887271
sub_saharan_africa                 0.834002            0.709677
western_asia                       0.833091            0.815603
western_europe                     0.821898            0.839775